:root {
    --mainPink: #F2B6CC;
    --secondaryPink: #F2BDC7;
    --beigeish: #F2E6D0;
    --brown: #A6806A;
    --redClay:#BF928E;
    --clean: white;
}

* {
    box-sizing: border-box;
}

/* Basic structure */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #F2E6D0;
}

.list-of-products {
    display: flex;
    gap: 0;
    justify-content: space-between;
}

/* Product listing */
.products {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.item {
    background-color: white;
    border-radius: 8px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    width: 250px;
    position: relative;
}

.menu-item-img img {
    border-radius: 6px;
    display: block;
    margin: auto;
    width: 70%;
}

.describe {
    margin-top: 10px;
    text-align: center;
}

.describe h2 {
    font-size: 1.2rem;
    margin: 0;
}

.cart-button {
    background-color: var(--mainPink);
    border: 3px solid var(--brown);
    border-radius: 30px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    height: 70px;
    width: 170px;
}

.cart-button:hover {
    background-color: var(--secondaryPink);
}

/* Add to shopping cart */
.add-to-cart {
    margin-top: 10px;
    display: block;
    margin: auto;
    width: 50%;
    text-align: center;
    cursor: pointer;
    transition: transform 0.2s ease;
    color: var(--mainPink);
    font-weight: bold;
    border-style: dashed;
}

.add-to-cart:hover {
    transform: scale(1.1);
}

/* Style the tab */
.tab-container {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 10px;
}

.tab {
    overflow: hidden;
    float: left;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}

/* Style the buttons inside the tab */
.tab button {
  display: block;
  background-color: inherit;
  color: black;
  padding: 22px 16px;
  width: 250px;
  height: 250px;
  border: none;
  outline: none;
  text-align: center;
  cursor: pointer;
  transition: 0.3s;
  font-size: 17px;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
    display: none;
    float: left;
    padding: 20px 20px;
    border: 1px solid #ccc;
    width: 70%;
    border-left: none;
    height: auto;
}