/* Shopping cart */
dialog.cart[open] {
    position: fixed;
    top: 0;
    right: 0;
    left: auto;
    bottom: 0;
    margin: 0;
    height: 100vh;
    transform: none;
    display: grid;
    grid-template-rows: 70px 1fr 30px 70px;
    row-gap: 10px;
    width: 25%;
    min-width: 400px;
    background-color: var(--beigebg);
    border-width: 4px;
    border-style: solid;
    border-color: var(--darkpink);
    border-radius: 8px;
    padding: 15px;
    transition: right 0.3s ease;
}

@keyframes slide-in {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slide-out {
  from {
    transform: translateX(0);
    opacity: 1;
  }
  to {
    transform: translateX(100%);
    opacity: 0;
  }
}

.cart.slide-in {
  animation: slide-in 0.3s ease forwards;
}

.cart.slide-out {
  animation: slide-out 0.3s ease forwards;
}


.cart-header {
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
    border-width: 5px;
    border-style: solid;
    border-color: var(--darkpink);
    color: var(--beigebg);
    background-color: var(--pinkbg);
    font-weight: bold;
    margin-bottom: 10px;
}

.cart-header h2 {
    color: white;
    -webkit-text-stroke: 1.2px var(--darkpink);
}

#trashAll {
    background-color: var(--darkpink);
    margin-left: 20px;
    padding: 5px;
    border-radius: 50%;
    color: white;
    border-style: solid;
    border-width: 2px;
    border-color: var(--darkpink);
}

#trashAll:hover {
    background-color: var(--pinkhvr);
    color: var(--darkpink);
    cursor: pointer;
}

/* Product information in cart */
.unit-count {
    display: grid;
    justify-items: center;
    row-gap: 4px;
}

.unit-count span {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 25px;
    width: 25px;
    border-radius: 50%;
    background-color: var(--pinkhvr);
    font-size: 14px;
}

.button-minus {
    cursor: pointer;
}

.button-plus {
    cursor: pointer;
}

.cart-items {
    display: grid;
    grid-auto-rows: 130px;
    gap: 10px;
    overflow: auto;
    scrollbar-width: none;
    color: var(--darkpink);
}

/* The row of cart item */
.cart-item {
    display: grid;
    word-break: break-word;
    grid-template-columns: 120px 100px 1fr 1fr 30px;
    align-items: center;
    text-align: center;
    background-color: var(--pinkbg);
    border-radius: 8px;
    border-width: 3px;
    border-style: solid;
    border-color: var(--darkpink);
    column-gap: 0;
}

.cart-item >div:nth-child(5) {
    height: 100%;
    width: 100%;
    background-color: var(--darkpink);
    align-content: center;
}

.cart-item >div:nth-child(5):hover {
    opacity: 0.8;
    cursor: pointer;
}

/* Carts items area */
.cart-items::-webkit-scrollbar {
    display: none;
}

.cart-item-img img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 4px;
    border: 2px solid var(--darkpink);
}

.total {
    display: flex;
    background-color: var(--pinkbg);
    color: var(--darkpink);
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    border-width: 3px;
    border-style: solid;
    border-color: var(--darkpink);
    border-radius: 3px;
}

/* Close and Check out buttons */
.cart-footter {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}

.close-button {
    color: var(--darkpink);
    font-weight: bold;
    background-color: var(--pinkbg);
    border: 3px;
    border-style: solid;
    border-color: var(--darkpink);
    border-radius: 30px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.close-button:hover {
    background-color: var(--pinkhvr);
}

.check-out-button {
    color: var(--darkpink);
    font-weight: bold;
    background-color: var(--pinkbg);
    border: 3px;
    border-style: solid;
    border-color: var(--darkpink);
    border-radius: 30px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.check-out-button:hover {
    background-color: var(--pinkhvr);
}
