/* Shopping cart */
.cart {
    position: fixed;
    top: 0;
    right: -400px;
    bottom: 0;
    display: grid;
    grid-template-rows: 70px 1fr 30px 70px;
    row-gap: 10px;
    width: 25%;
    min-width: 400px;
    background-color: var(--beigebg);
    border-width: 4px;
    border-style: solid;
    border-color: var(--darkpink);
    border-radius: 8px;
    padding: 15px;
    transition: right 0.3s ease;
}

/* Function to show cart */
body.show-cart .cart {
    right: 0;
}

.cart-header {
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
    border-width: 5px;
    border-style: solid;
    border-color: var(--darkpink);
    color: var(--beigebg);
    background-color: var(--pinkbg);
    font-weight: bold;
    margin-bottom: 10px;
}

.cart-header h2 {
    color: white;
    -webkit-text-stroke: 1.2px var(--darkpink);
}

/* Product information in cart */
.unit-count {
    display: grid;
    justify-items: center;
    row-gap: 4px;
}

.unit-count span {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 25px;
    width: 25px;
    border-radius: 50%;
    background-color: var(--pinkhvr);
    font-size: 14px;
}

.button-minus {
    cursor: pointer;
}

.button-plus {
    cursor: pointer;
}

.cart-items {
    display: grid;
    grid-auto-rows: 130px;
    gap: 10px;
    overflow: auto;
    scrollbar-width: none;
    color: var(--darkpink);
}

.cart-item {
    display: grid;
    word-break: break-word;
    grid-template-columns: 120px 100px 1fr 1fr;
    align-items: center;
    text-align: center;
    padding: 5px;
    background-color: var(--pinkbg);
    border-radius: 8px;
    border-width: 3px;
    border-style: solid;
    border-color: var(--darkpink);
}

.cart-items::-webkit-scrollbar {
    display: none;
}

.cart-item-img img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 4px;
    border: 2px solid var(--darkpink);
}

.total {
    display: flex;
    background-color: var(--pinkbg);
    color: var(--darkpink);
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    border-width: 3px;
    border-style: solid;
    border-color: var(--darkpink);
    border-radius: 3px;
}

/* Close and Check out buttons */
.cart-footter {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}

.close-button {
    color: var(--darkpink);
    font-weight: bold;
    background-color: var(--pinkbg);
    border: 3px;
    border-style: solid;
    border-color: var(--darkpink);
    border-radius: 30px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.close-button:hover {
    background-color: var(--pinkhvr);
}

.check-out-button {
    color: var(--darkpink);
    font-weight: bold;
    background-color: var(--pinkbg);
    border: 3px;
    border-style: solid;
    border-color: var(--darkpink);
    border-radius: 30px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.check-out-button:hover {
    background-color: var(--pinkhvr);
}
