:root {
    --pinkbg: #ffcad9;
    --pinkhvr: #ffe3e9;
    --beigebg: #fcf1cf;
    --darkpink: #d14c72;
}

* {
    box-sizing: border-box;
}

/* Basic structure */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 30px;
    background-color: var(--beigebg);
}

.list-of-products {
    display: flex;
    gap: 0;
    justify-content: space-between;
}

/* To cart button */

.cartbtn {
    display: flex;
    padding: 10px;
}

.cart-button {
    background-color: var(--pinkbg);
    border: 3px solid var(--darkpink);
    color: var(--darkpink);
    font-weight: bold;
    font-size: large;
    border-radius: 30px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    height: 70px;
    width: 170px;
    
}

.cart-button:hover {
    transform: scale(1.1);
    background-color: var(--pinkhvr);
    color: var(--darkpink);
    border-color: var(--darkpink);
}

/* Product listing */
.products {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 20px;
    margin-left: 20px;
}

.item {
    flex-basis: 25%;
    width: 33.33%;
    border-radius: 10px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    position: relative;
    background-color: var(--pinkbg);
    border-style: solid;
    border-color: var(--darkpink);
    border-width: 4px;
    color: var(--darkpink);
}

.menu-item-img img {
    border: 4px solid var(--darkpink);
    border-radius: 10px;
    display: block;
    margin: auto;
    width: 70%;
    filter: drop-shadow(0 0 12px var(--pinkhvr));
}

.describe {
    margin-top: 10px;
    text-align: center;
}

.describe h2 {
    font-size: 1.2rem;
    margin: 0;
}

/* Add to shopping cart */
.add-to-cart {
    display: block;
    margin: auto;
    text-align: center;
    background-color: var(--pinkhvr);
    border: 3px solid var(--darkpink);
    color: var(--darkpink);
    font-weight: bold;
    font-size: large;
    border-radius: 30px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 170px;
}

.add-to-cart:hover {
    transform: scale(1.1);
}

/* Style the tab */
.tab-container {
    display: flex;
    flex-direction: row;
    padding: 10px;
}

.tab {
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

/* Style the buttons inside the tab */
.tab button {
    background-color: var(--pinkbg);
    color: var(--darkpink);
    padding: 22px 16px;
    outline: none;
    text-align: center;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
    font-size: 17px;
    flex: 1;
    width: 250px;
    height: 250px;
    border-style: solid;
    border-width: 4px;
    border-color: var(--darkpink);
    border-top: none;
}

.tab button:first-child {
    border-top: 4px solid var(--darkpink);
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

.tab button:last-child {
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: var(--pinkhvr);
  color: var(--darkpink);
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: var(--pinkhvr);
  color: var(--darkpink);
  border-color: var(--darkpink);
}

/* Style the tab content */
.tabcontent {
    flex: 1;
    border-radius: 10px;
    border: none;
    overflow-y: auto;
    display: none;
}

.tabcontent.active {
    display: block;
}